@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
}	
.slinder{		
	height: 100vh;	
	background-position: center;
	background-size: cover;
	animation: slide 20s infinite;
}
@keyframes slide{
		0%{
			background-image: url('blog1.png');
		}
		20%{
			background-image: url('blog1.png');
		}
		20.01%{
			background-image: url('blog2.png');
		}
		40%{
			background-image: url('blog2.png');
		}
		40.01%{
			background-image: url('blog3.png');
		}
		60%{
			background-image: url('blog3.png');
		}
		60.01%{
			background-image: url('blog4.png');
		}
		80%{
			background-image: url('blog4.png');
		}
		80.01%{
			background-image: url('blog5.png');
		}
		100%{
			background-image: url('blog5.png');
		}
		100.01%{
			background-image: url('blog6.png');
		}
		1020%{
			background-image: url('blog6.png');
		}
}
.load{
	position: absolute;
	animation: slide 2s;
}
.content{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.text.box{
	height: 500px;
	width: 500px;
	align-content: center;
}
.the-heard{
	font-size: 88px;
	color: #fff;
	font-family: 'Italianno', sans-serif;
}
.the-text{
   height: 300px;
   width: 100%;
}
.the-game.title{
	margin-top: 50px;
	font-size: 44px;
	color: #fff;
	font-weight: 800;
	font-family: 'Poppins', sans-serif;
}
.the-games.about{
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	margin: 20px;
	letter-spacing: 1px;
	font-family: sans-serif;
}
.btns{
	display: flex;
}
.btn{
	height: 60px;
	width: 200px;
	padding: 0px 4px;
	color: lavender;
	font-size: 36px;
	margin: 20px;
	border: 2px solid #000;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: #000;
	cursor: pointer;
}
.btn.review, .btn:hover{
	border: 2px solid #000;
	background-color: #00000001;
}
	
